.copyright
    - var year = new Date().getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} Refugio, by #[a(href="https://github.com/XavierWah")!= config.author].
