// Prism.js Code Highlighting

script(src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/prism.js")
script(src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/plugins/autoloader/prism-autoloader.js")
script(src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/plugins/line-numbers/prism-line-numbers.js")
script(src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/plugins/toolbar/prism-toolbar.js")
script(src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/plugins/show-language/prism-show-language.js")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/themes/prism-coy.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/plugins/line-numbers/prism-line-numbers.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/plugins/toolbar/prism-toolbar.css")

// Fontawesome

script(src="https://kit.fontawesome.com/179619c2de.js", crossorigin="anonymous")
